body{
    font-size: ;
    font-style: ;
    color: black;
    line-height: ;
    background: beige;
}

header{

}

h1{

}

h2{

}

blockquote {

}

span{

}

.good{
    background-color:green;
}

.bad {
    background: red;
}