body {
    font-size: 20px;
    font-family: 'Martel', serif;
    color: #141414;
    /*background: -webkit-linear-gradient(90deg, rgb(182, 196, 68), rgb(1, 246, 255));
    background: linear-gradient(90deg, rgb(182, 196, 68), rgb(1, 246, 255));*/   
    background: -webkit-linear-gradient(90deg, rgb(66, 145, 156), rgb(59, 94, 159));
    background: linear-gradient(90deg, rgb(66, 145, 156), rgb(59, 94, 159));
    background-position: bottom right;
    background-size: cover;
    word-spacing: 3px;
    width: 90%;
    margin: 100px 100px 100px 100px;

}

a:hover {
    color: blue;
}
a:visited {
    color:pink;
}

header {
    font-style: bold;

}

h1 {
    background-color: yellow;
}

blockquote {
    width:45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 160%;
    background-color: rgba(248, 248, 248, 0.589);
    border-left:solid 3px;
    padding: 0px 30px 0px 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
    clear: center ;
}

.good{
    background-color:rgb(6, 245, 6);
}

.bad {
    background: rgb(245, 54, 6);
}

.farmer{
    border-color: gold;
}

.villager{
    border-color: darkgreen;
}

.table_grey{
    background-color: rgb(207, 206, 206);
}

.table_white{
    background-color: white;
}

.item_1{
    background-image: url("gif/bien.png");
}

.item_2{
    background-image: url("gif/mal.png");
}

.item_3{
    background-image: url("gif/chat.png");
}

li{
    background: no-repeat;
    background-position: 400px ;
    padding: 30px;
}

.img_1{
    float: left;
    width: 40%;
    height: 40%;
    margin-right: 150px;
}
.img_2{
    float: center ;
    clear: both;
    width: 20%;
    height: 20%;
}
.img_3{
    float: left;
    clear: both;
    width: 30%;
    height: 30%;
}